body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    color: rgb(13, 13, 165);
}
.name{
    color: rgb(12, 189, 12);
}
.web{
    color: indigo;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    float: left;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.link{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-color: lawngreen;
    padding: 10px 20px;
}
.half-width img{
    width: 100%;
}
h1{
    color: lightcoral;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    float: left;
    padding-left: 2%;
}
.link{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-color: lawngreen;
    padding: 10px 20px;
}
.work{
    color: rgb(250, 165, 8);
}
.here{
    color: purple;
    text-align: center;
    
}
.clearfix{
    clear:both;
}
.single-project{
    float: left;
    width: 33.33%;
    padding: 5px 20px;
    box-sizing: border-box;
}
.single-project .spm{
    width: 100%;
    height: auto;
}
.ONE{
    text-align: center;
    background-color: chocolate;
    color: white;
    text-decoration: none;

}.inquiry{
    box-sizing:border-box ;
}